.button {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    width: 220px;
    display: inline-block;
    padding: 14px 68px;
    font-size: 18px;
    line-height: 20px;
    color: #FBFCFE;
    background-color: #6A107A;
    border-radius: 40px;
    border: 1px solid #6A107A;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

// .button--form {
//     font-size: 17px;
//     line-height: 16px;
//     padding: 18px 35px;
//     margin-bottom: 55px;
// }