.button {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 14px 64px;
    font-size: 18px;
    line-height: 20px;
    color: #FBFCFE;
    background-color: #6A107A;
    border-radius: 40px;
    border: 1px solid #6A107A;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

   
}

.button:hover{
    background: #B22EC8;
}

.button:active{
    background: rgba(106, 16, 122, 0.6);
    filter: drop-shadow(0px 4px 4px rgba(88, 13, 101, 0.25));
}