.card {
    background: #FBFCFE;
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(88, 13, 101, 0.15);
    width: 268px;
}

.card:last-child {
    margin-bottom: 64px;
}

.card__title {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #0F805D;
    margin: 0;
    margin-bottom: 28px;
}

.card__wrapper {
    text-align: center;
    margin-bottom: 38px;
}

.card__price {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
}

.card__weight {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
}

.card__button{
    margin-bottom: 54px;
    @include tablet{
        
    }
}

.card__foto{
    margin-bottom: 28px;
    border-radius: 40px 40px 0 0;
}