.catalog {
    padding: 64px 26px;

    @include tablet {
        
        padding: 64px 100px 200px 100px ;
    }

    @include desktop {
        padding: 64px 100px 200px 100px ;
    }
}

.catalog__card{
    margin-bottom: 24px;

    @include tablet{
        margin: 0;
    }
}

.catalog__container {
    @include tablet {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
        row-gap: 52px;
    }

    @include desktop {
        grid-template-rows: auto;
        grid-template-columns: auto auto auto auto;
    }
}

.catalog__title {
    font-family: "Comfortaa", Arial, Helvetica, sans-serif;
    @include title;
    margin: 0;
    margin-bottom: 64px;

    @include tablet {
        font-size: 48px;
        line-height: 54px;
        margin-bottom: 72px;

    }

    @include desktop {
        font-size: 52px;
        line-height: 58px;
    }
}