.catalog {
    padding: 64px 26px;
}

.catalog__title {
    font-family: "Comfortaa", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #0F805D;
    margin: 0;
}