.comment__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
}

.comment__text {
    border: 1px solid #0F805D;
    border-radius: 20px;
    width: 268px;
    height: 124px;
    padding: 16px 12px;
    margin-bottom: 32px;
}