.container {

    background-image: url("/img/vanesa.jpg");
    background-repeat: no-repeat;
    // background-position: center;
    width: 320px;
    height: 640px;
    background-color: aqua;
}

.container__item {
    color: red;
}