.container {

    background-image: url("/img/vanesa.jpg");
    background-repeat: no-repeat;
    width: 320px;
    height: 640px;
    background-color: aqua;
}

.container__wrapper {
    padding: 68px 27px 192px 28px;
}

.container__title {
    @include title;
    margin: 0;
    margin-bottom: 32px;
}

.container__list{
    padding: 0;
}

.container__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    list-style: none;
    margin-bottom: 18px;
    padding-left: 72px;
    padding-right: 28px;
}

.container__item:last-child{
 margin-bottom: 48px;
}