.copyright{
    display: flex;
    justify-content: end;
    margin-top: 14px;
}

.copyright__title{
    font-family: "Raleway", Arial, Helvetica, sans-serif;

    margin: 0;
}

.copyright__link{
    padding-left: 8px;
}