.page {
  margin: 0;
  max-width: 320px;

  @include tablet {
    max-width: 768px;
    margin: 0 auto;
  }

  @include desktop {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.page__body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #FBFCFE;
}