.radio-button {
    border: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 32px;
    margin: 0;

    @include tablet {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        padding: 48px 78px 45px 85px;

    @include desktop {
        padding: 0;
    }
}



.radio-button__control-mark {
    position: absolute;
    left: 0px;
    top: 1px;
    width: 21px;
    height: 21px;
    border: 2px solid #0F805D;
    border-radius: 50%;

    @include tablet{
        top: 19px;
    }

    @include desktop{
        top: 5px;
    }
}

.radio-button__label {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    position: relative;
    padding-left: 36px;
    padding-right: 90px;

    @include tablet{
        grid-row: 1/2;
        grid-column: 2/3;
    }
}

.radio-button__label:nth-child(2){
    @include tablet{
        grid-row: 1/2;
        grid-column: 1/2;
    }
}

.radio-button__legend {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #0F805D;
    margin: 0 0 32px;

    @include tablet {
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 0;
    }

    @include desktop{
        margin-bottom: 48px;
    }

}

.radio-button__radio[type=radio]:checked+.radio-button__control-mark::before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 9px;
    height: 9px;
    background-color: #0F805D;
    border-radius: 50%;
    content: "";
}

}