.social {
    padding: 20px 26px;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 22px 26px 22px 20px;
    }

    @include desktop{
        padding: 24px 159px 24px 156px;
    }
}

.social__container {
    display: flex;
    flex-wrap: wrap;
}

.social__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 55px;
    margin: 0;
    @include desktop{
        padding-left: 345px;
    }
}

.social__item {
    list-style-type: none;
}

.social__item:not(:last-child) {
    padding-right: 20px;
}

.social_logo{
    @include tablet{
        display: none;
    }
    @include desktop{
        display: inherit;
    }
}

.social__link-logo{
    text-decoration: none;

    @include desktop{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        column-gap: 8px;
    }
}